body {
    margin: 4em 0 0 1em;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
div[ng-view].ng-enter {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}
.ng-hide-add {
    -webkit-animation: flipOutX 1.5s;
    animation: flipOutX 1.5s;
    display: block !important;
}
