<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
        <a href="https://github.com/btroncone" class="navbar-brand">Brian Troncone</a>
    </div>
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/mealhistory">Meal History</a></li>
                <li><a href="#/mealentry">Add/Edit Meals</a></li>
                <li><a href="#/mealgenerator">Generate Meals</a></li>
            </ul>
        </nav>
    </div>
</header>